{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register to Flamingo</title>
    <!-- tailwindcss -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <!-- box icon -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="bg-white py-8 px-6 shadow rouded-leg sm:px-10">
        <div class="w-full text-center text-4xl text-blue-400">
            <img src="{% static 'logo.png'%}" class="m-auto">
            <span>Flamingo</span>
        </div>
            
            <form method="POST" class="mb-0 space-y-6">
                {% csrf_token %}
                {% for field in form %}
                {{ field.errors }}
                {% endfor %}
                {% for field in p_form %}
                {{ field.errors }}
                {% endfor %}
                <label for="email" class="block text-sm font-medium text-gray-700">Name</label>
                <div class="mt-1">
                    <input type="email" name="first_name" autofocus required
                        class="w-full border border-gray-300 px-3 py-2 rounded-lg shadow-sm">
                </div>

                <label for="email" class="block text-sm font-medium text-gray-700">UserName</label>
                <div class="mt-1">
                    <input type="email" name="username" required
                        class="w-full border border-gray-300 px-3 py-2 rounded-lg shadow-sm">
                </div>

                <label for="email" class="block text-sm font-medium text-gray-700">password</label>
                <div class="mt-1">
                    <input type="password"  name="password1" required
                        class="w-full border border-gray-300 px-3 py-2 rounded-lg shadow-sm">
                </div>
                <label for="password" class="block text-sm font-medium text-gray-700">re Enter password</label>
                <div class="mt-1">
                    <input type="password" name="password2" required
                        class="w-full border border-gray-300 px-3 py-2 rounded-lg shadow-sm">
                </div>
                <div>
                    <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outside-none focus:ring-2 focus
                    :ring-offset-2 focus:ring-indigo-500">login up</button>
                </div>
                <div class="py-1">
                    <a href="{% url 'user:login' %}">Aleredy have Account? </a>
                </div>

            </form>
        </div>
    </div>
</body>

</html>